<!DOCTYPE html>
<html>

<head>
    <title>Feedback</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <div class="error-message">
                <!-- Display error message here -->
                <div style="color: red;" id="error">{{ errorMessage }}</div>
            </div>

            <form id="feedback">
                <input type="radio"
                       v-model="delighted" 
                       :value="true"
                       required />
                       Delighted

                <input type="checkbox" id="checkbox" v-model="donate" />
                    Donate <br>    

                <input type="radio"
                       v-model="delighted"
                       :value="false"
                       required />
                       Not delighted

                <input type="text"
                       v-model="reason"/> 
                       Reason <br> 

                <input type="button" value="Submit feedback" v-on:click="errorMessage" />

            </form>
            
        </div>
    </div>
    <script>

        // Write your code here
        var vm = new Vue({
            el: "#app",
            data: {
                delighted: false,
                donate: false,
                reason: "",
                error: ""
            },
            computed: {
                errorMessage() {
                    if (this.delighted === false && this.reason.length === 0 && this.donate === true) return "BOTH RULES BROKEN"
                    if (this.delighted === false && this.donate === true) return "RULE 1 BROKEN"
                    if (this.delighted === false && this.reason.length === 0) return "RULE 2 BROKEN"
                }
             }
        });

        setTimeout(() => console.log(document.getElementById("app").innerHTML));
    </script>
</body>

</html>